.login {
    width: 100vw;
    height: 100vh;
    background-color: #dfe0e4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}
.loginleft,.loginRight {
    float: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: crimson;
    margin-bottom: 10px;
}
.loginDesc {
    font-size: 24px;
}
.loginimg {
    margin-top: 12rem;
    margin-left: -8rem;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2rem;
    height: 45%;
}
.loginBox {
    height: 40%;
    padding: 20px;
    width: 230%;
    margin-left: -6rem;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}
.loginInput:focus {
    outline: none;
}
.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #0000ff;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.loginForgot {
    text-align: center;
    color: #0000ff;
    cursor: pointer;
}
.loginRegesterButton {
    width: 70%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}