.share {
	width: 100%;
	border-radius: 10px;
	height: 10rem;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	/* background-color: crimson; */
}

.shareWrapper {
	padding: 10px;
}

.shareTop {
	display: flex;
	align-items: center;
}

.shareProfileImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}

.shareInput {
	border: none;
	width: 80%;
}

.shareInput:focus {
	outline: none;
}

.shareHr {
	margin: 10px;
}

.sharebuttom{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.shareOptions {
	display: flex;
	margin-left: 20px;
}

.shareOption {
	display: flex;
	align-items: center;
	margin-right: 15px;
	cursor: pointer;
}

.shareIcon {
	font-size: 18px;
	margin-right: 3px;
}

.shareOptionText {
	font-size: 14px;
	font-weight: 500;
}

.shareButton {
	border: none;
	padding: 9px;
	border-radius: 5px;
	background-color: green;
	font-weight: 500;
	margin-right: 20px;
	margin-top: 7px;
	cursor: pointer;
	color: white;
}

@media screen and (min-width: 280px) and (max-width:480px) {

	.share {
		width: 95%;
	}

	.shareTop {
		width: 80%;
		border-radius: 10px;
	}

	.shareInput {
		font-size: 9px;
	}

	.shareProfileImg {
		width: 25px;
		height: 25px;
		border-radius: 50%;
	}

	.shareHr {
		width: 80%;
	}

	.shareOptions {
		margin-left: -0.2rem;
	}

	.shareIcon {
		font-size: 11px !important;
	}

	.shareOptionText {
		font-size: 9px;
	}

	.shareButton {
		height: 15px;
		width: 30px;
		font-size: 6px;
		padding: 1px;
	}

	.shareWrapper {
		border-radius: 10px;
		width: 86%;
	}
}
