.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #0d0d0d;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: rgb(199, 32, 32);
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}
.searchIcon1 {
  visibility: hidden;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
}

.topbarIcons {
  display: flex;
  color: #fff;
}
.iconbar {
  color: #fff;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* media query */

@media screen and (max-width: 480px) {
  .logo {
    font-size: 12px;
    /* margin-left: -0.1rem; */
    margin-right: 1rem;
  }
  .searchbar {
    width: 100%;
    height: 20px;
    font-size: 5px;
    margin-left: -0.2rem;
  }
  .searchIcon {
    font-size: 10px !important;
  }
  .searchInput {
    height: 10px;
    font-size: 5px;
    width: 100%;
  }
  .topbarLink {
    font-size: 9px;
  }
  .iconbar {
    font-size: 12px !important;
  }
  .topbarIconBadge {
    font-size: 8px !important;
    width: 10px;
    height: 10px;
    top: 0.2px;
  }
  .topbarImg {
    width: 21px;
    height: 21px;
  }
}