.notification {
    display: flex;
    margin-top: 2rem;
}

.notif-container {
    flex: 12;
}
.notif-list {
    width: 95%;
    margin-left: 1rem;
    border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(87, 84, 84, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(72, 70, 70, 0.68);
    margin-top: 30px 0;
}