.chats {
    display: flex;
    margin-top: 2rem;
}
.chats-container {
    flex: 12;
}
h3 {
    text-align: center;
    padding: 2rem;
    color: #808080;
}

.chats-top {
    display: flex;
}

.chats-list {
    width: 95%;
    margin-left: 1rem;
    border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(87, 84, 84, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(72, 70, 70, 0.68);
    margin-top: 30px 0;
    background-color: #808080;
}

.profileimg {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
}

.iconstory{
    width: 12px;
    height: 12px;
    background-color: rgb(7, 44, 227);
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 151px;
    margin-left: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    border: 2px solid #fff;
  }

.iconOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: 130px;
    margin-left: -1.5rem;
    border: 2px solid #fff;
  }
 
.username {
    font-size: 6px !important;
    margin-left: -3rem;
}
.chats-center {
    margin-top: 1rem;
    display: block;
}
.friendlist {
    display: flex;
    flex-direction: row;
}
.friendName {
    margin-top: 1rem;
    font-size: 10px !important;
    margin-left: -0.7rem;
    cursor: pointer;
}
.messege {
    font-size: 8px;
    margin-top: 1.8rem;
    margin-left: -4.3rem;
    cursor: pointer;
}
.messege-time {
    width: 24px;
    height: 12px;
    background-color: #fff;
    border-radius: 20px;
    color: limegreen;
    position: absolute;
    top: 238px;
    margin-left: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    border: 1px solid #111;
    cursor: pointer;
}

.messegetime {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: 299px;
    margin-left: 2.3rem;
    border: 2px solid #fff;
}