.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-x: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0.5rem;
  /* margin: 0; */
  margin-top: 1.3rem;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #111;
}

.sidebarIcon {
  margin-right: 15px;
  cursor: pointer;
}

.sidebarListItemText {
  cursor: pointer;
}

.sidebarButton {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.sidebarHr {
  margin: 20px 0;
}

@media  screen and (min-width: 280px) and (max-width:480px) {

  .sidebar {
    display: block;
  }
  .sidebarWrapper{
    display: block;
    margin-left: -1.7rem;
    font-size: 10px;
  }
  .sidebarListItem {
    display: block;
  }
  .sidebarIcon {
    font-size: 18px !important;
    text-align: center;
    padding: 0.5rem;
  }
  .sidebarListItemText {
    font-size: 7px;
    padding: 0.2rem;
  }
  .sidebarButton {
    width: 100%;
    padding: 0.7rem;
    font-size: 8px;
  }
  .sidebarFriend {
    display: block;
    padding: 1rem;
  }
  .sidebarFriendName {
    font-size: 6px;
  }
}